img{ 
    height: 300px;
    box-shadow: 1px 1px 10px 10px rgba(4, 4, 4, 0.418);
    margin-top: 20px;

}
#main{
    background-color: rgba(169, 182, 195, 0.582);
    padding-top: 5px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    position: relative;
    box-shadow: 1px 1px 10px 12px rgba(228, 226, 226, 0.473);

    border-radius: 30px;
}

#count{

background-color:black;
position: absolute;
left: 650px;
top: 170px;

}
